@{
    ViewData["Title"] = "Home Page";
}
<div class="text-start">
    <div class="row-cols-4">
        <h3>Welcome to my our University Website.</h3>
    </div>
</div>

<div class="row align-items-center">
    <div class="col">
     At Brandon University, we welcome you to join our diverse, inclusive community of dreamers, innovators, creators, and doers. Find out how you can explore your interests and build skills to make your mark on the world with as a Software Engineer
    </div>
    <div class="col">
      At Brandon University, we welcome you to join our diverse, inclusive community of dreamers, innovators, creators, and doers. Find out how you can explore your interests and build skills to make your mark on the world with as a Software Engineer.     
      <p>learn how to build a WebApplication by clicking the link.... <a href="https://www.youtube.com/">See the tutorial >>></a></p>

    </div>
    <div class="col">
      At Brandon University, we welcome you to join our diverse, inclusive community of dreamers, innovators, creators, and doers. Find out how you can explore your interests and build skills to make your mark on the world with as a Software Engineer
    </div>
  </div>

  <h4>Download Here!</h4>
<a href="https://docs.microsoft.com/aspnet/core" class="btn btn-dark">Click to Start!</a>

  